@import '../../constants/constants';

.motivation {
  @extend %bg;
  height: 1262px;
  background: linear-gradient(256.4deg, #E84B28 0.75%, #F92F60 87.48%);
  box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.3);
}

.motivation-content {
  margin: auto;
  max-width: 1208px;
  color: $text-theme-light;
  h2 {
    margin: 0;
    padding: 158px 0 2px 12px;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: -0.02em;
  }
  & .motivation-description {
    max-width: 595px;
    padding-left: 11px;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
  }
}

.motivation-info {
  display: flex;
  padding-top: 41px;
}

.motivation-image {
  margin-left: 7px;
}

.motivation-list {
  padding-top: 34px;
  margin-left: -27px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 737px;
  max-height: 768px;
}

.motivation-item {
  h3 {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.02em;
  }
  & .item-header {
    display: flex;
  }
  & .descript {
    max-width: 341px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.02em;
  }
}

.motivation-icon {
  width: 83px;
  height: 75px;
  margin-right: 14px;
  &.personalCoach {
    background: url('../../assets/icons/personalCoach.png') no-repeat;
  }
  &.vacation {
    margin: 0;
    background: url('../../assets/icons/vacation.png') no-repeat;
  }
  &.personalMap {
    background: url('../../assets/icons/personalMap.png') no-repeat;
  }
  &.refereeSanctioning {
    margin-right: 4px;
    background: url('../../assets/icons/refereeSanctioning.png') no-repeat;
    background-position: 0 -9px;
  }
  &.barChart {
    background: url('../../assets/icons/barChart.png') no-repeat;
  }
  &.notification {
    margin: 0;
    background: url('../../assets/icons/notification.png') no-repeat;
  }
}

@media(max-width: 376px) {
  .motivation {
    height: auto;
    overflow: hidden;
  }

  .motivation-content {
    h2 {
      padding: 44px 10px 0 22px;
      font-size: 28px;
      line-height: 39px;
    }
    & .motivation-description {
      display: none;
    }
    & .motivation-image {
      width: 224px;
      height: 204px;
      margin: 4px 0 0 24px;
      transform: rotate(270deg);
      img {
        width: 277px;
      }
    }
  }

  .motivation-info {
    flex-wrap: wrap;
    padding-bottom: 75px;
  }

  .motivation-list {
    margin: auto;
    padding: 71px 24px 0 22px;
    max-width: 100%;
    max-height: fit-content;
    justify-content: center;
    & .motivation-item {
      margin-bottom: 38px;
    }
  }

  .motivation-icon {
    &.personal-coach {
      margin-right: 17px;
    }
    &.personalMap {
      margin-right: 19px;
      width: 80px;
      height: 70px;
      background-size: contain;
    }
    &.refereeSanctioning {
      width: 77px;
      height: 69px;
      background-position: -11px -10px;
    }
    &.barChart {
      background-size: contain;
      width: 56px;
      margin-right: 20px;
    }
    &.notification {
      background-size: contain;
      width: 60px;
      height: 60px;
      margin-right: 13px;
      margin-bottom: 4px;
      background-position: -7px 0px;
    }
  }
}
