@import '../../constants/constants';

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $bg-half-transparent;
}

.popup {
  margin: 106px auto auto;
  max-width: 1004px;
  height: 595px;
  border-radius: 10px;
  background: $text-theme-light;
  color: $popup-text;
}

.popup-done {
  margin: 203px auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1004px;
  height: 357px;
  border-radius: 10px;
  background: $text-theme-light;
  color: $popup-text;
  & .popup-text {
    padding-top: 38px;
    padding-bottom: 12px;
  }
  button {
    width: 294px;
  }
}

.close-icon-container {
  display: flex;
  justify-content: flex-end;
  padding: 15px 10px 0 0;
  cursor: pointer;
}

.popup-title {
  margin: 0;
  padding: 20px 0 0 106px;
  font-weight: bold;
  font-size: 48px;
  line-height: 53px;
  letter-spacing: -0.02em;
  & .popup-title-colored {
    color: $h1-color;
  }
  &.title-done {
    padding: 73px 0 0 0;
    color: $h1-color;
  }
}

.time-block {
  margin: 31px 91px 0 115px;
  display: flex;
  justify-content: space-between;
  font-weight: 900;
  font-size: 72px;
  line-height: 79px;
  letter-spacing: -0.02em;
  color: $h1-color;
  & .time-part {
    display: flex;
    flex-direction: column;
    width: 98px;
  }
  & .time-divider {
    padding-right: 12px;
    font-size: 64px;
    line-height: 79px;
    color: $popup-half-transparent;
  }
  & .time-text {
    padding-top: 3px;
    align-self: flex-end;
    font-weight: 800;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: $popup-text;
  }
}

.popup-text {
  padding: 75px 72px 0 106px;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.02em;
  &-colored {
    color: $h1-color;
  }
}
