@import '../../constants/constants';

.notFit {
  @extend %bg;
  height: 862px;
  background: url('../../assets/images/NotFit-bg.jpg') no-repeat;
  background-position: 692px 89px;
}

.notFit-content {
  margin: auto;
  padding: 91px 0 0 0;
  display: flex;
  max-width: 1175px;
}

.notFit-info {
  h2 {
    padding: 0 0 0 14px;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: -0.025em;
    color: $h2-color;
  }
  ul {
    padding-top: 4px;
    list-style-image: url('../../assets/icons/list_bullet.png');
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -0.015em;
    color: $text-theme-contrast;
    li {
      padding-left: 22px;
      padding-top: 32px;
      margin-bottom: -4px;
    }
  }
}

.notFit-image {
  margin: 357px 0 0 11px;
  width: 471px;
  height: 288px;
  background: url('../../assets/images/Lazy.png') no-repeat;
}

@media(max-width: 376px) {
  .notFit {
    height: auto;
    background: url('../../assets/images/NotFit-bg-mobile.jpg') no-repeat;
  }

  .notFit-content {
    padding: 44px 0 0 0;
    flex-wrap: wrap;
    h2 {
      padding: 0 0 0 21px;
      font-size: 28px;
      line-height: 37px;
    }
  }

  .notFit-info {
    ul {
      padding-top: 0;
      li {
        margin-top: 31px;
        padding-right: 26px;
        padding-top: 3px;
      }
    }
  }

  .notFit-image {
    width: 333px;
    height: 202px;
    margin: 47px 0 0 23px;
    background-size: contain;
  }
}
